@import "../base/_variables.scss";

header {
  background-image: $header-background-color;
}

article:nth-of-type(2n+1) {
  background-color: $color-5;
}

footer, article:nth-of-type(2n+2) {
  background-color: $color-4;
}



