$header-background-color: linear-gradient(to bottom, #f7f7f7, #eeedf0, #e4e3e8, #dcd9e1, #d3cfd9);
$color-1: #000000;
$color-2: #575757;
$color-3: #c1c1c1;
$color-4: #f9f9f9;
$color-5: #ffffff;
$prices-background-color: #f1f1f1;
$prices-lighter-color: #e3e3e3;
$colourful-color: #00be9e;
