@import "../base/variables";
@import "../base/mixins";

article.tiles {
  width: 100vw;

  @include media-desktop {
    width: 80%;
    margin: 0 auto;
  }

  div.container {
    padding: 1vw 0;

    @include media-tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2vw 3vw;
    }

    @include media-desktop {
      flex-direction: row-reverse;
      flex-wrap: nowrap;
    }

    section {
      border: 1px solid $color-3;
      position: relative;

      h3 {
        width: 100%;
        height: 15vw;
        position: absolute;
        top: 65%;
        background-color: rgba($color-3, 0.3);
        line-height: 15vw;

        &:after {
          @include colorful-line(3rem, 0);
        }

        @include media-tablet {
          height: 6vw;
          line-height: 6vw;
        }

        @include media-desktop {
          height: 3.5vw;
          line-height: 3.5vw;
        }
      }

      p {
        text-align: center;
        padding: 2vw 1vw;
      }
    }
  }
}

section.tile {
  width: 80%;
  margin: 7vw auto;
  height: 48vw;

  @include media-tablet {
    width: 40%;
    margin: 2vw auto;
    height: 25vw;
  }

  @include media-desktop {
    width: 30%;
    height: 15vw;
  }
}

section.tile:nth-child(2) {
  @include tile-background("../images/box1_img.jpg");
}

section.tile:nth-child(3) {
  @include tile-background("../images/box2_img.jpg");
}