@import "../base/variables.scss";
@import "../base/_mixins.scss";

article.prices {

  h2 {
    @include h2;

    &:after {
      @include colorful-line(3rem, 0);
    }
  }

  div.container {
    padding: 4vw 0;

    section {
      border: 1px solid $color-3;
    }

    section.colored {
      border: 1px solid $colourful-color;
    }
  }
}

section.plan {
  width: 80%;
  height: 120vw;
  margin: 0 auto 5vw;
  border-radius: 10px;
  background-color: $prices-background-color;

  div.price {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      text-align: center;
    }

    div.radius {
      width: 40vw;
      height: 40vw;
      border: 1px solid $color-3;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      background-color: $color-5;

      div.container {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
      }
    }
  }

  div.conditions {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
      width: 100%;
      text-align: center;
      height: 2.5rem;
      line-height: 2.5rem;
    }

    p:nth-of-type(2n+1){
      background-color: $prices-lighter-color;
    }
    p:nth-of-type(2n+2){
      background-color: $color-4;
    }
  }

  div.btn {
    text-align: center;
    height: 15%;

    button {
      @include button;
    }
  }
}

section.plan.colored {
  background-color: $colourful-color;

  div.conditions {

    p:nth-of-type(2n+1){
      background-color: $color-4;
    }
    p:nth-of-type(2n+2){
      background-color: $prices-lighter-color;
    }
  }

  div.btn {
    button {
      background-color: $color-5;
    }
  }
}